@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-200 flex justify-center items-center scroll-smooth;
}

pre {
  @apply font-mono rounded-md text-sm text-lime-500 bg-[#282c34] p-2;
}

ul {
  @apply list-disc;
}

ol {
  @apply list-decimal;
}

li {
  @apply ml-5;
}

table {
  @apply table-auto;
}

th {
  @apply border border-slate-300 dark:border-slate-600 font-semibold p-4 text-left;
}

td {
  @apply border border-slate-300 dark:border-slate-600 p-4;
}

thead {
  @apply bg-slate-50 dark:bg-slate-800;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
